body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    font-family: 'Press Start 2P', cursive;
}

p {
    font-size: 0.5em;
    color: #ffffff;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

#gameInfo {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

#gameInfo h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    animation: neon 1s ease-in-out infinite alternate;
}


#chatContainer {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
}

#chatMessages {
    height: 200px; /* ou qualquer altura que funcione para você */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#chatForm {
    display: flex;
}

#chatInput {
    flex-grow: 1;
    padding: 5px;
}

#chatForm button {
    padding: 5px 10px;
}

@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de, 0 0 70px #ff00de;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de;
    }
}

#gameInfo p {
    font-size: 1.2em;
    color: #e0e0e0;
    display: none;
}

#gameInfo h1, #gameInfo p, #winMessage h2, #restartButton {
    font-family: 'Press Start 2P', cursive;
}

#gameBoard {
    /* Ajustando o layout da grade para garantir que os cards não fiquem empilhados */
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr)); /* 4 colunas para 16 cartas */
    gap: 10px; /* Espaço entre as cartas */
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.card {
    aspect-ratio: 1 / 1;
    min-width: 60px;
    max-width: 100px;
    height: auto;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ff00de;
}

.card.flipped {
    background-color: #3498db;
    transform: rotateY(180deg);
}

.card.matched {
    background-color: #27ae60;
    opacity: 0.8;
    pointer-events: none;
}

#winMessage {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.8);
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

#restartButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Orbitron', Arial, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#restartButton:hover {
    background-color: #c0392b;
}

@media (max-width: 400px) {
    #gameBoard {
        grid-template-columns: repeat(4, minmax(50px, 1fr)); /* Ajusta para telas menores */
    }
    .card {
        font-size: 2em;
    }
    #gameInfo h1 {
        font-size: 1.2em;
    }
    #gameInfo p, #winMessage h2, #restartButton {
        font-size: 0.8em;
    }
}